.header {
  position: sticky;
  top: 0;
  z-index: 500;
  width: 100%;
  background-color: transparent;
  padding: 1rem 0;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 0.5rem 2rem;
}
